* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    justify-content: center; 
}
.navbar {
    height: 71px;
    background-color: #FFFFFF;
    /* color: black; */
    display: flex;
    margin-top: 20px;
   
}

/* box1 */

.nav_logo {
    height: 40px;
    width: 156px;
}
.logo {
    /* background-image: url("aliexpress_logo-removebg-preview.jpg");  */
    background-size: cover; 
    height: 40px;
    width: 100%;
    font-size: 25px;
   
}

/* Box 2 */
.nav-search {
    display: flex;
    /* background-color: pink; */
    height: 34px;
    width: 653px ;
    border-radius: 20px;
    border: 1px solid black;

} 



.search-input {
    height: 30px;
    width: 548px;
    border: none;
    margin-left: 15px;
}

#img {
   font-size: 1rem;
   margin-top: 10px;
}

.outerbox{
    background-color: black;
    height: 32px;
    width: 57px;
    border-radius: 20px;
    margin-top: 1px;
    margin-left: 10px;
}

#search-icon {
    height: 32px;
    width: 52px;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

/* box 3 */
.qrcode {
    display: flex;
    font-size: 12px;
    margin-top: 4px;
}

#qr {
    font-size: 1.5rem;
    margin-top: 2px;
    margin-left: 20px;
}

#pre {
    margin-left: 0px;
}

/* box 4 */

.signup {
    display: flex;
    margin-left: 20px;
}
.user-img {
    height: 32px;
    width: 32px;
}

.signin {
    margin-left: 5px;
    font-size: 12px;
}

/* box 5 */

#trolley 
{
    height: 32px;
    width: 32px;
}

#cart-count {
    font-size: 20px;
    background-color: black;
    color: white;
    position: absolute;
    top: 15px;
    left: 78rem;
}

/* Tool bar */
.toolbar {
    height: 60px;
    width: 1200px;
    background-color: pink;
    margin-left: 80px;
    display: flex;
}

.categories {
    display: flex;
}

/* For first floor where our deals can be shown */
.firstfloor{
    /* display: flex; */
    padding-top: 32px;
    height: 486px;
    width: 1200px;
    /* background-color: grey;  */
    margin-left: 80px;
    margin-top: 20px;
}

.dealbox {
    display: flex;
    height: 41px;
    width: 1105px;
    align-items: center;
}

h2 {
    font-size: 32px;
}

.boxes {
    
    justify-content: space-evenly;
}

#box1 {
    height: 400px;
    width: 352px;
    padding: 16px 20px 20px 0px;
    display: flex;
    border: 0.5px solid black;
    position: absolute;
    left: 80px;
    top: 250px;

}

#box2 {
    height: 400px;
    width: 352px;
    padding: 16px 20px 20px 0px;
    display: flex;
    border: 0.5px solid black;
    position: absolute;
    left: 495px;
    top: 250px;
}

#box3 {
    height: 400px;
    width: 352px;
    padding: 16px 20px 20px 0px;
    display: flex;
    border: 0.5px solid black;
    position: absolute;
    left: 907px;
    top: 250px;
}

.deal-price {
    height: 35px;
    width: 204px;
    background-color: #FFF6DD;
    border-radius: 20px;
    display: flex;
    position: absolute;
    top: 50px;
    left: 85px;
}

p {
    margin-top: 10px;
}

.container1 {
    height: 327px;
    width: 330px;
    background-color: rgb(223, 223, 144);
    display: flex;
    position: absolute;
    top: 58px;
    justify-content: space-evenly;
}

.con-box1 {
    height: 295px;
    width: 140px;
    background-color: rgb(200, 168, 168);
    position: absolute;
    top: 16px;
    padding: 4px 4px 4px 4px;
    left: 15px;
}

.con-box2 {
    height: 295px;
    width: 140px;
    background-color: rgb(162, 59, 59);
    position: absolute;
    top: 16px;
    padding: 4px 4px 4px 4px;
    left: 170px;
}

#curler {
    height: 141px;
    width: 141px;
}

.rating
 {
    height: 18px;
    width: 137px;
    position: absolute;
    top: 260px;
 }

#star1 {
    height: 13px;
    width: 13px;
}

h2 {
    font-size: 32px;
    position: absolute;
    left: 36rem;
    top: 7rem;
}