* {
    padding: 0px;
    margin: 0px;
}
/* #box1 {
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
}

#box2 {
    height: 50px;
    width: 50%; 
    background-color: yellow;
    margin-left: 10%;
    two times of parent font size 
    font-size: 2em;
    width: 4rem;
    height: 100vh;
    width: 100vw;
} */

div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    display: inline-block;
}

#box1 {
    position: static;
}

#box2 {
    position: relative;
    top: 20px;
    left: 20px;
}

#box3 {
    position: absolute;
    top: 10px;
    left: 20px;
}

#box4 {
    position: fixed;
    right: 100px;
    bottom: 20px;
}